.button {
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(1, 53, 81, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: sticky;
    float:right; 
    border: 4px solid rgba(1, 33, 51, 0.478);
  }
  .button:hover {
    background-color: rgba(1, 33, 51, 0.478);
    color: rgb(255, 255, 255);
  }