#experience {
    height: 100vh;
    background-color: rgb(17, 58, 99);
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.experiences {
    border-style: solid;
    padding: 8px;
    border-radius: 15px;
    display: flex;
}

.experience {
    margin: 8px;
    border-style: solid;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}

.experiences-title {
    color: rgb(211, 223, 239);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-decoration: underline;

    font-size: 50px;
    margin-top: 50px;
    z-index: 1;
}