* {
    cursor: none;
}

html {
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(10, 25, 47);
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.title {
    color: rgb(211, 223, 239);
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: rgba(225, 233, 244, 0.75);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 5;
    left: 0;
    right: 0;
}

.fadeIn {
    opacity: 0;
    animation: fadeInAnimation 650ms ease-in forwards;
}

.fadeIn1 {
    opacity: 0;
    animation: fadeInAnimation 650ms ease-in forwards;
    animation-delay: 650ms;
}

.fadeIn2 {
    opacity: 0;
    animation: fadeInAnimation 650ms ease-in forwards;
    animation-delay: 1300ms;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* main */

.main {
    /* padding: 100px; */
    padding-top: 140px;
    padding-left: 200px;
    margin: 0;
    height: calc(100vh - 230px);
}

@media only screen and (max-width: 600px) {
    .main {
        padding: 0;
        padding-top: 140px;
        margin: 0;
        height: calc(100vh - 230px);

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text-under-title-name {
        text-align: center;
    }
}

.text-above-title {
    margin: 0;
    color: rgb(35, 155, 155);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

    font-size: 18px;
}

.title-name {
    margin: 0;
    color: rgb(211, 223, 239);
    font-family: "Inter", sans-serif;
    font-weight: bold;

    font-size: 90px;
}

.text-under-title-name {
    margin: 0;
    color: rgba(225, 233, 244, 0.75);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 40px;
}

#container {
    height: 100vh; 
}

/* cursor */

.cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.25); /* Includes style, width, and color */
    pointer-events: none;
    transform: translate(-50%, -50%);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.15); */
    transition: transform 0.1s ease-out;
}

.cursor-two {
    position: absolute;
    width: 10px; 
    height: 10px; 
    background: rgba(3, 11, 34, 0.7);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    z-index: 99;
    transition: transform 0.3s ease, background 0.3s ease;
}

.cursor-two.hover-tag {
    transform: scale(2);
    background: rgba(3, 11, 34, 0.8);
}