html {
    scroll-behavior: smooth;
    background-color: rgb(10, 25, 47);
}

body {
    margin: 0;
    padding: 0;

    background-color: rgb(10, 25, 47);

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.title {
    color: rgb(211, 223, 239);
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    color: rgba(225, 233, 244, 0.75);
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 5;
    left: 0;
    right: 0;
    /* background: linear-gradient(to bottom, rgba(10, 25, 47, 0.4), rgba(10, 25, 47, 0.1)); */
    /* backdrop-filter: blur(10px); */
}

.fadeIn {
    opacity: 0;
    animation: fadeInAnimation 650ms ease-in forwards;
}

.fadeIn1 {
    opacity: 0;
    animation: fadeInAnimation 650ms ease-in forwards;
    animation-delay: 650ms;
}

.fadeIn2 {
    opacity: 0;
    animation: fadeInAnimation 650ms ease-in forwards;
    animation-delay: 1300ms;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
